<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="theme.css" type="text/css">
    <title>Golden Brokers</title>
    <meta name="description" content="Pingendo app landing page">
    <meta name="keywords" content="Pingendo app mobile responsive ios android">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38741299-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38741299-1');
</script>





  </head>
  <body class="text-center">

  <!--
  <nav class="navbar navbar-inverse navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand text-info" href="#cover"><b>GoldenBrokers</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">


      </div>
    </div>
  </nav> -->

          <form action="https://GoldenBrokers.us7.list-manage.com/subscribe/post?u=d6f05baf0d7e162988d717d73&amp;id=9d019f8394" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="p-4 validate" target="_blank" novalidate>
            <h4 class="mb-4 text-center text-dark"></h4>
            <div class="form-group"> 
              <input class="form-control required email" placeholder="Email" type="email" value="" name="EMAIL" id="mce-EMAIL"> </div>
            <div class="form-group"> 
              <input class="form-control" placeholder="First" type="text" value="" name="FNAME" id="mce-FNAME"> </div>
            <div class="form-group"> 
              <input class="form-control" placeholder="Last" type="text" value="" name="LNAME" id="mce-LNAME"> </div>
            <div class="form-group"> 
              <input class="form-control" placeholder="Phone" type="text" name="MMERGE3" value="" id="mce-MMERGE3"> </div> 

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
    
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d6f05baf0d7e162988d717d73_9d019f8394" tabindex="-1" value=""></div>

            <button type="submit" class="btn mt-4 btn-block p-2 btn-light" id="mc-embedded-subscribe" ><b>Call me</b></button>
          </form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>



<div class="container-fluid">
<div id="enter">

    <form action="https://GoldenBrokers.us7.list-manage.com/subscribe/post?u=d6f05baf0d7e162988d717d73&amp;id=9d019f8394" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="p-4 validate" target="_blank" novalidate>
    <div id="form-login-username" class="input-group">
      <input class="input-field required email" size="18" placeholder="Email" type="email" value="" name="EMAIL" id="mce-EMAIL">       
    </div>
    <div id="form-login-password" class="input-group">
      <input class="input-field required" placeholder="First" type="email" value="" name="FNAME" id="mce-FNAME" size="18" alt="first">
    </div>
    <div id="form-login-password" class="input-group">
      <input class="input-field required" placeholder="Last" type="email" value="" name="LNAME" id="mce-LNAME" size="18" alt="last">
    </div>
    <div id="form-login-password" class="input-group">  
      <input class="input-field required" placeholder="Phone" type="email" name="MMERGE3" value="" id="mce-MMERGE3" size="18" alt="password">
     <!--
<select required>
  <option label="Choose"></option>
  <option style="display:none;"></option>
  <option disabled hidden>Choose here</option>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>   -->
    </div>  
    <br>
    <div id="form-login-remember" class="input-group float-left">
      <input class="av-checkbox float-left" data-dojo-type="dijit/form/CheckBox" id="group_8" name="group[17509][8]" type="checkbox" value="1">
      <label class="float-left" for="mce-group[16521]-01234-0">Updates on this property</label>
    </div>
    <div id="form-login-remember" class="input-group float-left">
      <input class="av-checkbox float-left" data-dojo-type="dijit/form/CheckBox" id="group_4" name="group[17509][4]" type="checkbox" value="1">
      <label class="float-left" for="mce-group[16521]-01234-0">Market Updates</label>
    </div>
    <div id="form-login-remember" class="input-group float-left">
      <input class="av-checkbox float-left" data-dojo-type="dijit/form/CheckBox" id="group_1" name="group[17509][1]" type="checkbox" value="1">
      <label class="float-left" for="mce-group[16521]-01234-0">Good Deals</label>
    </div>
    <div id="form-login-remember" class="input-group float-left">
      <input class="av-checkbox float-left" data-dojo-type="dijit/form/CheckBox" id="group_2" name="group[17509][2]" type="checkbox" value="1">
      <label class="float-left" for="mce-group[16521]-01234-0">VIP Projects</label>
    </div>

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d6f05baf0d7e162988d717d73_9d019f8394" tabindex="-1" value="">
    </div>

    <br>
    <br>
    <div id="submit-buton" class="input-group">
            <input class="btn btn-ok input-field" type="submit" name="Submit" alt="sign in" value="Sign Up">
    </div>
  </form>
</div>
</div>

<style>
/* -- import Bootstrap v3 and Open Sans Font ------------------------------------- */
@import "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css";
@import "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700";
/* -- box model ------------------------------------- */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* -- main styles ------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
  
    background: #FFD000 url("") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;  /* Internet Explorer 7/8 */
}
#enter {
    max-width: 370px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 5px;
    
    background-color: #e9ecee;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.5);
}
#enter .logo-image {
    text-align: center;
}
#enter img {
    max-width: 100%;
    max-height: 150px;
}
#enter h1, #enter p {
    text-align: center;
}
#enter h1 {
    font-size: 24px;
    line-height: 24px;
}
/* -- form styles ----------------------------------- */
label {
    display: inline;
    font-size: 1.3em;
    font-weight: 300;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;
    width: 100%;
}
.input-field {   
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}
/* -- input styles ----------------------------------- */
#enter form input[type="text"],
#enter form input[type="password"]{
    background-color: #d9dde0;
    color: black;
}
#enter form input[type="text"]:hover,
#enter form input[type="password"]:hover{
    background-color: #ced2d5;
    color: black;
    outline-color: #495a68;
}
#enter form input[type="text"]:focus,
#enter form input[type="password"]:focus{
    background-color: #ecf0f1;
    color: black;
    outline-color: #495a68;
}
#enter form input[type="text"]:valid,
#enter form input[type="password"]:valid{
    background-color: #1abc9c;
    color: black;
    outline-color: #495a68;
}
#enter form input[type="text"]:invalid,
#enter form input[type="password"]:invalid{
    outline-color: #495a68;
}
/* -- checkbox styles ----------------------------------- */
#enter input[type="checkbox"] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    position: relative;
    outline: medium none;
    margin-right: 10px;
    border-radius: 50%;
}
#enter input[type="checkbox"]::before {
    width: 28px;
    height: 28px;
    content: "";
    display: block;
    border: 2px solid #495a68;
    border-radius: 50%;
    position: absolute;
}
#enter input[type="checkbox"]:checked::before {
    border-color: #495a68;
}
#enter input[type="checkbox"]:checked::after {
    width: 14px;
    height: 14px;
    content: "";
    display: block;
    background: #495a68;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 7px;
}
#form-login-remember label {
    vertical-align: top;
    line-height: 36px;
    margin-bottom: 0;
}
/* -- button styles ----------------------------------- */
.btn-ok {
    color: #e9ecee;
    background-color: #495a68;
    border-color: #495a68;
}
.btn-ok:hover,
.btn-ok:focus,
.btn-ok:active,
.btn-ok.active {
    color: #e9ecee;
    background-color: #3e4d59;
    border-color: #3e4d59;
}
.btn-ok:active,
.btn-ok.active {
    background-image: none;
}
.btn-ok.disabled,
.btn-ok[disabled],
fieldset[disabled] .btn-ok,
.btn-ok.disabled:hover,
.btn-ok[disabled]:hover,
fieldset[disabled] .btn-ok:hover,
.btn-ok.disabled:focus,
.btn-ok[disabled]:focus,
fieldset[disabled] .btn-ok:focus,
.btn-ok.disabled:active,
.btn-ok[disabled]:active,
fieldset[disabled] .btn-ok:active,
.btn-ok.disabled.active,
.btn-ok[disabled].active,
fieldset[disabled] .btn-ok.active {
    background-color: #428bca;
    border-color: #357ebd;
}
/* -- placeholder styles ----------------------------------- */
#enter form ::-webkit-input-placeholder {
    /* for webkit browsers */
    text-align: center;
    color: #555555;
}
#enter form :-moz-placeholder {
    /* for mozilla browsers */
    text-align: center;
    color: #555555;
}
#enter form .placeholder {
    text-align: center;
    color: #555555;
}
  select {
    height: 5.4em;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';  
    text-align-last:center; 
    border: none;
  }
  select:valid {
    height: 5.4em;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';  
    text-align-last:center; 
    border: none;
    background-color: #1abc9c;
    color: black;  
  }
</style>  



<script>
jQuery('#username[placeholder], #password[placeholder]').placeholder();
</script>  
















<!--


  <div class="cover d-flex align-items-center pt-5 bg-primary" id="cover">

    <div class="container">






      <div class="row">


        <div class="col-xs-12 col-sm-12 col-md-12 p-3">
            <div id="form-main">
              <div id="form-div">
              
          <form action="https://GoldenBrokers.us7.list-manage.com/subscribe/post?u=d6f05baf0d7e162988d717d73&amp;id=9d019f8394" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="p-4 validate" target="_blank" novalidate>
            <h4 class="mb-4 text-center text-dark"></h4>
            <div class="form-group"> 
              <input class="form-control required email" placeholder="Email" type="email" value="" name="EMAIL" id="mce-EMAIL"> </div>
            <div class="form-group"> 
              <input class="form-control" placeholder="First" type="text" value="" name="FNAME" id="mce-FNAME"> </div>
            <div class="form-group"> 
              <input class="form-control" placeholder="Last" type="text" value="" name="LNAME" id="mce-LNAME"> </div>
            <div class="form-group"> 
              <input class="form-control" placeholder="Phone" type="text" name="MMERGE3" value="" id="mce-MMERGE3"> </div> 

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
    
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d6f05baf0d7e162988d717d73_9d019f8394" tabindex="-1" value=""></div>

            <button type="submit" class="btn mt-4 btn-block p-2 btn-light" id="mc-embedded-subscribe" ><b>Call me</b></button>
          </form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>



          </div> 
         </div>          
        </div>   
           
        <div class="col col-xs-12 col-md-4">


            <div id="form-main">
              <div id="form-div">
                <form class="form" id="form1">
                  
                  <p class="name">
                    <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
                  </p>
                  
                  <p class="email">
                    <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
                  </p>

                  <p class="phone">
                    <input name="phone" type="text" class="validate[required,custom[onlyNumber],length[0,100]] feedback-input" id="phone" placeholder="Phone" />
                  </p>                                 
                  
                  <div class="submit">
                    <input type="submit" value="Call Me!" id="button-blue"/>
                    <div class="ease"></div>
                  </div>
                </form>
              </div>
            </div>
        </div>       
      </div>

    </div>
  </div> -->

  <!--
  <div class="row hidden-sm-up">
    <div class="col-xs-12 hidden-sm-up" style="height: 400px">
    </div>
  </div>-->

  <!--
  <div class="py-5 bg-light" id="what">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-10 mx-auto px-4">
          <h2 class="text-muted mb-4">What do we do</h2>
          <div class="row text-left">
            <div class="p-3 col-lg-4 col-md-6">
              <div class="row mb-3">
                <div class="text-center col-3"><i class="d-block mx-auto fa text-muted fa-4x fa-flask"></i></div>
                <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9">
                  <h5 class="mb-0"><b>&nbsp; &nbsp;Experience</b></h5>
                </div>
              </div>
              <p class="text-muted">2 decades of service in the GTA market</p>
            </div>
            <div class="p-3 col-lg-4 col-md-6">
              <div class="row mb-3">
                <div class="text-center col-3"><i class="d-block mx-auto fa text-muted fa-4x fa-heart-o"></i></div>
                <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9">
                  <h5 class="mb-0"><b>&nbsp; Integrity</b></h5>
                </div>
              </div>
              <p class="text-muted">Proven track record with many happy clients </p>
            </div>
            <div class="p-3 col-lg-4">
              <div class="row mb-3">
                <div class="text-center col-3"><i class="d-block mx-auto fa text-muted fa-4x fa-dot-circle-o"></i></div>
                <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9">
                  <h5 class="mb-0"><b>&nbsp; Results</b></h5>
                </div>
              </div>
              <p class="text-muted">Happy buyers and sellers and millions of dollars generated throught investments</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--
  <div class="section py-5 text-md-left" id="buy">
    <div class="container">
      <div class="row">
        <div class="col-md-7 push-md-5 my-3 align-self-center">
          <h2 class="text-primary my-3">Buy your dream home</h2>
          <p class="lead">Our team of experienced Realtors will be with you at every step through your journey to find the perfect home. We will work tirelessly to find the right home and we will negotiate the best price for you.</p>
          <a href="#features" class="btn btn-outline-primary btn-lg">Let's find you a home</a>
        </div>
        <div class="col-md-5 pull-md-7 my-3">
          <img src="http://helpmadrid.com/keyicon.png" class="img-fluid d-block mx-auto"> </div>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center my-3">
          <h2 class="text-primary my-3">Invest for the future</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. </p>
          <a href="#download" class="btn btn-outline-primary btn-lg">Get the best deals</a>
        </div>
        <div class="col-md-6 my-3">
          <img src="https://pingendo.github.io/templates/app/iphone_ipad.png" class="img-fluid d-block mx-auto"> </div>
      </div>
    </div>
  </div> -->



  <!--
  <div class="section py-5 bg-primary" id="sell">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-4 text-info">Full Service MLS Listing</h1>
        </div>
      </div>
      <div class="row">



        <div class="align-self-center text-left col-lg-4 col-md-6">
          <div class="row my-5">
                      
            <div class="col-10">
              <h4>Professional Photos</h4>
              <p>Stunning photos by professional photographers</p>
            </div>
            <div class="col-2"><i class="d-block fa fa-3x fa-camera text-info"></i></div>
          </div>
          <div class="row my-5">
            
            <div class="col-10">
              <h4>Comprehensive Marketing</h4>
              <p>Multi-channel approach to maximize exposure</p>
            </div>
          <div class="col-2"><i class="d-block fa  fa-3x fa-bullhorn text-info"></i></div>
          </div>
          <div class="row my-5">
          
            <div class="col-10">
              <h4>Ongoing Support</h4>
              <p>We are always just a phone call away</p>
            </div>
            <div class="col-2"><i class="d-block fa  fa-3x fa-comment-o text-info"></i></div>
          </div>
        </div>

        <div class="my-3 col-lg-4 col-md-6">
          <img class="img-fluid d-block mx-auto" src="https://s3.amazonaws.com/rjrecsv/images/One-Percent.png"> </div>

        <div class="align-self-center text-left col-lg-4 col-md-12">
          <div class="row my-5">
            <div class="col-3"><i class="d-block fa fa-3x fa-usd text-info"></i></div>
            <div class="col-9">
              <h4>Fair Commission</h4>
              <p>Very competitive rates compared to the rest of the industry</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-3"><i class="d-block mx-auto fa  fa-3x fa-home text-info"></i></div>
            <div class="col-9">
              <h4>Negotiations</h4>
              <p>We fight to gain you every advatage possible</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-3"><i class="d-block fa  fa-3x fa-heart-o text-info"></i></div>
            <div class="col-9">
              <h4>Open Houses</h4>
              <p>Weekly until it's sold!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->



<!--
  <div class="section py-5 bg-light" id="buy">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-4 text-info">Other Premium Services</h1>
        </div>
      </div>
      <div class="row">
        <div class="align-self-center text-left col-lg-6 col-md-12">
          <div class="row my-5">
            <div class="col-3"><i class="d-block fa fa-3x fa-home text-info"></i></div>
            <div class="col-9">
              <h4>Buy</h4>
              <p>Our team of experienced Realtors will be with you at every step through your journey to find the perfect home</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-3"><i class="d-block mx-auto fas fa-3x fa-pencil-ruler text-info"></i></div>
            <div class="col-9">
              <h4>Build</h4>
              <p>Leave it all to us. From planning to design and managing the building process, we will handle every thing for you</p>
            </div>
          </div>
        </div>
        <div class="align-self-center text-left col-lg-6 col-md-12">
          <div class="row my-5">
            <div class="col-3"><i class="d-block mx-auto fa  fa-3x fa-usd text-info"></i></div>
            <div class="col-9">
              <h4>Mortgages</h4>
              <p>Our seasoned brokers will shop around with the top lenders to find the best mortgage products and the lowest rates for you</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-3"><i class="d-block fas fa-3x fa-chart-line text-info"></i></div>
            <div class="col-9">
              <h4>Invest</h4>
              <p>Get VIP access to new launches around the city and secure your investment in this growing market</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->




  <!--
  <div class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-muted">Other Premium Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="text-left col-md-6">
          <div class="row my-5">
            <div class="order-lg-2 text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-stack-1x fa-home text-white"></i>
              </span> </div>
            <div class="text-lg-left text-left order-lg-1 col-lg-10 col-9">
              <h4>Buy</h4>
              <p>Our experience will make your journey better</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="order-lg-2 text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                <i class="fa fa-stack-1x fa-rocket text-white"></i>
              </span> </div>
            <div class="text-lg-left text-left order-lg-1 col-lg-10 col-9">
              <h4>Build</h4>
              <p>We will be with you at every step of the way</p>
            </div>
          </div>
          
          <div class="row mt-5">
            <div class="order-lg-2 text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-bomb text-white"></i>
              </span> </div>
            <div class="text-lg-left text-left order-lg-1 col-lg-10 col-9">
              <h4>Be ready for action</h4>
              <p> ut labore et dolore magna aliqua.&nbsp; Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.</p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row my-5">
            <div class="text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-stack-1x text-white fa-dot-circle-o"></i>
              </span> </div>
            <div class="col-lg-10 col-9">
              <h4>Mortgages</h4>
              <p>Our brokers will look for the best terms across the industry</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-info"></i>
                <i class="fa fa-stack-1x text-white fa-dollar"></i>
              </span> </div>
            <div class="col-lg-10 col-9">
              <h4>Invest</h4>
              <p>VIP Access to top pre-construction projects</p>
            </div>
          </div>-->
          <!--
          <div class="row mt-5">
            <div class="text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                <i class="fa fa-stack-1x text-white fa-rocket"></i>
              </span> </div>
            <div class="col-lg-10 col-9">
              <h4>Take off</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


<!--
  <div class="section py-5 text-md-left" id="build">
    <div class="container">
      <div class="row">
        <div class="col-md-7 push-md-5 my-3 align-self-center">
          <h2 class="text-primary my-3">Build your dream home</h2>
          <p class="lead">Leave it all to us. From planning to design and managing the building process, we will handle every thing for you. Our team of competent designers and contractors will help us deliver the home tailored to your needs and preferences.</p>
          <a href="#features" class="btn btn-outline-primary btn-lg">Start building</a>
        </div>
        <div class="col-md-5 pull-md-7 my-3">
          <img src="http://www.appraiser-manatee.com/wp-content/uploads/2015/09/Homes-custom-home-building-icon.jpg" class="img-fluid d-block mx-auto"> </div>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center my-3">
          <h2 class="text-primary my-3">Works everywhere</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. </p>
          <a href="#download" class="btn btn-outline-primary btn-lg">Download</a>
        </div>
        <div class="col-md-6 my-3">
          <img src="https://pingendo.github.io/templates/app/iphone_ipad.png" class="img-fluid d-block mx-auto"> </div>
      </div>
    </div>
  </div>-->




<!--
  <div class="section py-5 text-md-left bg-primary" id="mortgage">
    <div class="container">
      <div class="row">
        <div class="col-md-7 push-md-5 my-3 align-self-center">
          <h2 class="my-3 text-info">Invest for the future</h2>
          <p class="lead">Take advantage of our great connections with the best builders in the industry. Get VIP access to new launches around the city and secure your investment in this growing market.</p>
          <a href="#features" class="btn btn-lg btn-outline-info">Get the best deals</a>
        </div>
        <div class="col-md-5 pull-md-7 my-3">
          <img src="https://pingendo.github.io/templates/app/iphone_trequarti.png" class="img-fluid d-block mx-auto"> </div>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center my-3">
          <h2 class="my-3 text-info">The best mortgage rates</h2>
          <p class="lead">Our seasoned brokers will shop around with the top lenders to find the best mortgage products and the lowest rates for you.</p>
          <a href="#download" class="btn btn-lg btn-outline-info">Get in touch</a>
        </div>
        <div class="col-md-6 my-3">
          <img src="https://s3.amazonaws.com/rjrecsv/images/Home-Icon2.png" class="img-fluid d-block mx-auto"> </div>
      </div>
    </div>
  </div>-->





<!--

  <div class="section py-5 text-md-left" id="invest">
    <div class="container">
      <div class="row">
        <div class="col-md-7 push-md-5 my-3 align-self-center">
          <h2 class="text-primary my-3">Invest for the future</h2>
          <p class="lead">Take advantage of our great connections with the best builders in the industry. Get VIP access to new launches around the city and secure your investment in this growing market.</p>
          <a href="#features" class="btn btn-outline-primary btn-lg">Get the best deals</a>
        </div>
        <div class="col-md-5 pull-md-7 my-3">
          <img src="http://www.beintoronto.com/account/70d052df69090c8b/pages/116374_1.jpg" class="img-fluid d-block mx-auto"> </div>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center my-3">
          <h2 class="text-primary my-3">Works everywhere</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. </p>
          <a href="#download" class="btn btn-outline-primary btn-lg">Download</a>
        </div>
        <div class="col-md-6 my-3">
          <img src="https://pingendo.github.io/templates/app/iphone_ipad.png" class="img-fluid d-block mx-auto"> </div>
      </div>
    </div>
  </div>-->



  <!--<div class="section py-5 bg-primary" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-4 text-info">The best mortgage rates</h1>
        </div>
      </div>
      <div class="row">
        <div class="align-self-center text-right col-lg-4 col-md-6">
          <div class="row my-5">
            <div class="col-10">
              <h4>Responsive design</h4>
              <p>Based on fluid design principles.
                <br>Works with screen resolution</p>
            </div>
            <div class="col-2"><i class="d-block fa fa-3x fa-columns"></i></div>
          </div>
          <div class="row my-5">
            <div class="col-10">
              <h4>Customized settings</h4>
              <p>Choose settings depending on the criteria you value the most</p>
            </div>
            <div class="col-2"><i class="d-block fa  fa-3x fa-circle-thin"></i></div>
          </div>
          <div class="row my-5">
            <div class="col-10">
              <h4>Connect</h4>
              <p>In-app chat panel 24/7 active.
                <br>The support you need, right there.</p>
            </div>
            <div class="col-2"><i class="d-block fa  fa-3x fa-comment-o"></i></div>
          </div>
        </div>
        <div class="my-3 col-lg-4 col-md-6">
          <img class="img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/app/iphone_features.png"> </div>
        <div class="align-self-center text-left col-lg-4 col-md-12">
          <div class="row my-5">
            <div class="col-3"><i class="d-block fa fa-battery-empty fa-3x"></i></div>
            <div class="col-9">
              <h4>Battery-friendly</h4>
              <p>Non consuming background operation for longer mobile life</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-3"><i class="d-block mx-auto fa  fa-3x fa-clone"></i></div>
            <div class="col-9">
              <h4>Multilayers</h4>
              <p>Work simultaneously on different panels with the switcher</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-3"><i class="d-block fa  fa-3x fa-heart-o"></i></div>
            <div class="col-9">
              <h4>Share the love</h4>
              <p>Help us spreading the word.
                <br>Tell your friends with just one-click</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!--
  <div class="py-5 section bg-faded" id="reviews">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-8">
          <p class="text-left lead">Sign up for the latest news on the real estate market</p>
          
        </div>

        <div class="col-12 col-xs-12 col-sm-12 col-md-4">

          <form action="https://GoldenBrokers.us7.list-manage.com/subscribe/post?u=d6f05baf0d7e162988d717d73&amp;id=9d019f8394" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank" novalidate>
            <div class="form-group">
              <input class="form-control required email" placeholder="Email" type="email" value="" name="EMAIL" id="mce-EMAIL"> 
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <button type="submit" class="btn btn-primary" id="mc-embedded-subscribe">Subscribe</button>
          </form>
          
        </div>
      </div>
    </div>
  </div> -->
  <!--
  <div class="py-5 section bg-light" id="reviews">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-8">
          <p class="text-left lead">RIGHT AT HOME REALTY INC</p>
          <p class="text-left lead">O: 905.695.7888  | F: 905.695.0900</p>          
          <p class="text-left lead">1550 16TH AVENUE, UNIT 3</p>
          <p class="text-left lead">RICHMOND HILL, ON L4B 3K9</p>
        </div>

        <div class="col-12 col-xs-12 col-sm-12 col-md-4">

        <img class="img-fluid d-block mx-auto" src="https://media.glassdoor.com/sqll/778441/right-at-home-realty-squarelogo-1457689352654.png">
          
        </div>
      </div>
    </div>
  </div>-->
  <!--
  <div class="py-5 section bg-info" id="">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
            <p class="float-left">© Copyright 2017 GoldenBrokers.ca - All rights reserved. </p>
        </div>


        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
        <h1 class=" text-white">647-308-5340</h1>
        </div>
        
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="blank"><i class="fa fa-fw fa-facebook fa-3x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="blank"><i class="fa fa-fw fa-twitter fa-3x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="blank"><i class="fa fa-fw fa-instagram text-white fa-3x"></i></a>
        </div>
      </div>
    </div>
  </div> -->
  <!--
  <div class="py-5 section bg-primary" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/app/iphone_isometric.png"> </div>
        <div class="col-md-6 text-md-left align-self-center my-5">
          <h1 class="display-4">Download Pingendo</h1>
          <h4>Get it on your mobile device. Now</h4>
          <div class="row mt-5">
            <div class="col-6 col-md-5">
              <a href="#cover">
                <img class="center-block img-fluid d-block" src="https://pingendo.github.io/templates/app/download_android.png"> </a>
            </div>
            <div class="col-6 col-md-5">
              <a href="#cover">
                <img class="center-block img-fluid d-block" src="https://pingendo.github.io/templates/app/download_ios.png"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--
  <div class="py-5 section bg-info" id="">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <p>© Copyright 2017 GoldenBrokers.ca - All rights reserved. </p>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="blank"><i class="fa fa-fw fa-facebook fa-3x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="blank"><i class="fa fa-fw fa-twitter fa-3x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="blank"><i class="fa fa-fw fa-instagram text-white fa-3x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3">


        </div>
      </div>
    </div>
  </div> -->






  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>


</body></html>